.app {
  max-width: 900px;
  margin: auto;
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 15px;
}

.grocery-heading{
  margin-top: 0px;
}

.content {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
}

/* Mobile */
@media (max-width: 600px) {
  .content {
    padding: 10px;
  }
}
